{% extends "template.html" %} {% block body %}

<h2>Home Page</h2>


<form action="/account" method="POST">
    <input type="text" name="name" id="name" placeholder="Your Name" class="form-feild"><br>
    <button type="submit" class="add-btn">Login</button>
    <button type="reset" class="remove-btn">Clear</button>
</form>
<br>

<form action="/feedback" method="POST">
    <input type="text" name="feedback" id="feedback" placeholder="Your Feedback" class="form-feild"><br>
    <button type="submit" class="add-btn">Submit</button>
    <button type="reset" class="remove-btn">Clear</button>
</form>
<br>
<form action="/logout" method="POST">
    <button type="submit" class="remove-btn">Logout</button>
</form>

<form action="/delete" method="POST">
    <button type="submit" class="remove-btn">Delete</button>
</form>


{% endblock %}